/* -------------------- GLOBAL STYLESHEET -------------------- */

/* -------------------- COLORS -------------------- */
/* BG: #0f121b */
/* BG-DARK: #07090c */
/* BG-DARK-TRANSPARENT: #07090cb7 */
/* TEXT: #818cf8 */
/* TEXT-TRANSPARENT: #818df8ad */
/* TEXT-LIGHT: #e0e8ff */

/* -------------------- FONT SIZES -------------------- */
/* 1REM = 10PX */
/* H2: 3rem */
/* P: 1.6REM */

/* Import Inter font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* -------------------- GLOBAL -------------------- */

/* Variables */
:root {
  --bg-color-dark: #07090c;
  --bg-color-dark-transparent: #07090cb7;
  --bg-color: #0f121b;
  --text-color: #818cf8;
  --text-color-transparent: #818df8ad;
  --text-color-light: #e0e8ff;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font size to 1rem = 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(180deg, var(--bg-color), #020205);
  color: var(--text-color-light);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-color-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

/* Default H2 style */
h2 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}

/* Center each section */
section {
  width: 1200px;
  margin: 0 auto;
  padding: 5rem;
}

/* -------------------- CONTAINER -------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* -------------------- HEADER -------------------- */

header {
  background-color: var(--bg-color-dark-transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 8rem;
  padding: 1rem 5rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--text-color);
  position: fixed;
  z-index: 10;
}

/* Header Logo */

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 30%;
  gap: 2rem;
}

header .logo-container .logo {
  width: 10%;
  height: 10%;
  color: var(--text-color-light);
}

header .logo-container .name {
  color: var(--text-color-light);
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

/* Header Navbar */

header .navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

/* Header nav items styling */

header .navlist li a:link,
header .navlist li a:visited {
  color: var(--text-color);
  background-color: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

/* Header nav items styling on hover */
header .navlist li a:hover,
header .navlist li a:active {
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

/* Mobile nav button */

header button.mobile-nav-btn {
  display: none;
  background-color: var(--text-color);
  color: var(--bg-color-dark);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

/* Mobile menu overlay */

header .menu-overlay {
  display: none;
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-dark);
  z-index: 5;
  opacity: 0.95;
}

header .menu-overlay ul.mobile-navlist {
  width: 100svw;
  height: 100svh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

header .menu-overlay ul.mobile-navlist li a:link,
header .menu-overlay ul.mobile-navlist li a:visited {
  color: var(--text-color);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

header .menu-overlay ul.mobile-navlist li a:hover,
header .menu-overlay ul.mobile-navlist li a:active {
  color: var(--text-color-light);
  padding: 1rem 2rem;
}

header button.close-btn {
  display: none;
  background-color: var(--text-color);
  color: var(--bg-color-dark);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

/* -------------------- FOOTER -------------------- */

footer {
  width: 100%;
  background-color: var(--bg-color-dark);
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid var(--text-color);
  padding: 1rem 2rem;
  gap: 2rem;
}

/* Footer Logo */
footer img {
  max-height: 5rem;
}

/* Footer Seperator */
footer .line {
  width: 2px;
  height: 40%;
  background-color: var(--text-color-transparent);
  border-radius: 5px;
}

/* Footer Copyright */
footer small {
  font-size: 1.4rem;
  color: var(--text-color-light);
}

/* Footer Navbar */
footer .footer-navbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  height: 6rem;
  width: 10%;
}

footer .footer-navbar li a:link,
footer .footer-navbar li a:visited {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

footer .footer-navbar li a:hover,
footer .footer-navbar li a:active {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Scroll to top button */

#scrollToTop:link,
#scrollToTop:visited {
  position: fixed;
  width: 5rem;
  right: 5rem;
  bottom: 5rem;
  background-color: var(--text-color);
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  text-decoration: none;
  z-index: 100;
}
#scrollToTop i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-color-dark);
  font-size: 5rem;
  height: 50px;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (max-width: 800px) {
  header .logo-container {
    max-width: 50%;
  }

  header .logo-container .name {
    font-size: 2rem;
  }

  header nav {
    display: none;
  }

  header button.mobile-nav-btn {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  header .logo-container {
    max-width: 60%;
  }

  header .logo-container .name {
    font-size: 1.6rem;
    gap: 6rem;
  }

  footer .line {
    width: 40%;
    height: 2px;
  }

  footer {
    height: 40rem;
    flex-direction: column;
  }

  footer .footer-navbar {
    width: 100%;
    flex-wrap: nowrap;
    height: 15rem;
  }
}
