/* -------------------- GLOBAL STYLESHEET -------------------- */

/* -------------------- COLORS -------------------- */
/* BG: #1d2229 */
/* BG-DARK: #202a3b */
/* TEXT: #818cf8 */
/* TEXT-TRANSPARENT: #818df8ad */
/* TEXT-LIGHT: #e0e8ff */

/* -------------------- FONT SIZES -------------------- */
/* 1REM = 10PX */
/* H2: 3rem */

/* Import from Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Import from Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"); /* -------------------- GLOBAL -------------------- */

/* Variables */
:root {
  --bg-color-dark: #1d2229;
  --bg-color: #202a3b;
  --text-color: #818cf8;
  --text-color-transparent: #818df8ad;
  --text-color-light: #e0e8ff;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font size to 1rem = 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-light);
}

/* Default H2 style */
h2 {
  font-size: 4rem;
}

/* -------------------- CONTAINER -------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* -------------------- HEADER -------------------- */

header {
  background-color: var(--bg-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 8rem;
  padding: 1rem 5rem;
  border-radius: 0 0 15px 15px;
  margin: 0 auto;
  margin-bottom: 7rem;
  border-bottom: 1px solid var(--text-color);
}

/* Header Logo */

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 30%;
  gap: 2rem;
}

header .logo-container .logo {
  width: 10%;
  height: 10%;
  color: var(--text-color-light);
}

header .logo-container .name {
  color: var(--text-color-light);
  font-family: "Monserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

/* Header Navbar */

header nav {
  width: 30%;
}

header .navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

/* Header nav items styling */

header .navlist li a:link,
header .navlist li a:visited {
  color: var(--text-color);
  background-color: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

/* Header nav items styling on hover */
header .navlist li a:hover,
header .navlist li a:active {
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

/* -------------------- FOOTER -------------------- */

footer {
  width: 100;
  background-color: var(--bg-color-dark);
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid var(--text-color);
  padding: 1rem 2rem;
  gap: 2rem;
}

/* Footer Logo */
footer img {
  height: 20%;
}

/* Footer Seperator */
footer .line {
  width: 2px;
  height: 30%;
  background-color: var(--text-color-transparent);
  border-radius: 5px;
}

/* Footer Copyright */
footer small {
  font-size: 1.4rem;
  color: var(--text-color-light);
}

/* Footer Navbar */
footer .footer-navbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  height: 6rem;
}

footer .footer-navbar li a:link,
footer .footer-navbar li a:visited {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

footer .footer-navbar li a:hover,
footer .footer-navbar li a:active {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease;
}
