/* -------------------- HERO SECTION -------------------- */
.hero-container {
  background-image: url("../images/bg.gif");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--text-color);
}

/* Hero section using grid */
section#hero {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas:
    "hero-img hero-img hero-info hero-info"
    "hero-img hero-img hero-social hero-social";
  max-height: 50vh;
  max-width: 60%;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  background-color: var(--bg-color-dark-transparent);
}

/* Hero image container */
section#hero .hero-img-container {
  grid-area: hero-img;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
}

section#hero .hero-img-container img {
  max-height: 90%;
  border-radius: 50%;
  animation: 15s infinite move linear;
  box-shadow: 0 10px 50px -20px var(--text-color);
}

/* Slow animation to make avatar feel more alive */

@keyframes move {
  0% {
    transform: translate(0, 0);
    box-shadow: 0 10px 50px -20px var(--text-color);
  }
  25% {
    transform: translate(0, 1rem);
    box-shadow: 0 10px 55px -20px var(--text-color);
  }
  50% {
    transform: translate(0, 0);
    box-shadow: 0 10px 60px -20px var(--text-color);
  }
  75% {
    transform: translate(0, 1rem);
    box-shadow: 0 10px 55px -20px var(--text-color);
  }
  100% {
    transform: translate(0, 0);
    box-shadow: 0 10px 50px -20px var(--text-color);
  }
}

/* Hero info section using flexbox in column */
section#hero .hero-info {
  grid-area: hero-info;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 1rem;
  width: 80%;
}

section#hero .hero-info h2 {
  font-size: 4rem;
  font-weight: 700;
}

section#hero .hero-info h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

section#hero .hero-info p {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

/* Hero buttons */
section#hero .hero-buttons {
  display: flex;
  gap: 1rem;
}

section#hero .hero-buttons a:link,
section#hero .hero-buttons a:visited {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  border-radius: 15px;
  margin-bottom: 2rem;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

section#hero .hero-buttons a:hover,
section#hero .hero-buttons a:active {
  padding: 1rem 4rem;
  color: var(--text-color);
  background-color: #00000000;
  border-radius: 20px;
  border: 2px solid var(--text-color);
}

section#hero .hero-social {
  grid-area: hero-social;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5rem;
  margin-top: 2rem;
}

/* Social links */
section#hero .hero-social a:link,
section#hero .hero-social a:visited {
  font-size: 4rem;
  text-decoration: none;
  padding: 1rem;
  color: var(--text-color-light);
  transition: all 0.2s ease;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#hero .hero-social a:hover,
section#hero .hero-social a:active {
  color: var(--text-color);
  box-shadow: 0 0 30px 1px var(--text-color);
}

/* -------------------- SKILLS SECTION -------------------- */

section#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin: 0 auto;
}

section#skills .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section#skills .skills .skill {
  cursor: pointer;
}

section#skills .skills #html:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #f06529;
}
section#skills .skills #html:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  position: absolute;
  font-style: italic;
  top: -20px;
  left: 15px;
}
section#skills .skills #css:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #2965f1;
}
section#skills .skills #css:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  font-style: italic;
  position: absolute;
  top: -20px;
  left: 15px;
}
section#skills .skills #js:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #f0db4f;
}
section#skills .skills #js:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  font-style: italic;
  position: absolute;
  top: -20px;
  left: 15px;
}
section#skills .skills #react:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #61dbfb;
}
section#skills .skills #react:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  font-style: italic;
  position: absolute;
  top: -20px;
  left: 15px;
}
section#skills .skills #tailwind:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #6d28d9;
}
section#skills .skills #tailwind:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  font-style: italic;
  position: absolute;
  top: -20px;
  left: 15px;
}
section#skills .skills #github:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #fafbfc;
}
section#skills .skills #github:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  font-style: italic;
  position: absolute;
  top: -20px;
  left: 15px;
}
section#skills .skills #java:hover {
  transition: all 0.3s ease;
  position: relative;
  color: #f89820;
}
section#skills .skills #java:hover:after {
  content: "8/10";
  font-size: 1.4rem;
  font-style: italic;
  position: absolute;
  top: -20px;
  left: 15px;
}

section#skills .skills .skill i {
  font-size: 6rem;
}

section#skills p {
  text-align: center;
}
