/* -------------------- HERO SECTION -------------------- */
.hero-container {
  background-image: url("../images/hero-bg.gif");
  background-size: cover;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--text-color);
  position: relative;
  /* margin-top: 3rem; */
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b04313a;
  backdrop-filter: blur(3px);
}

section#hero {
  display: grid;
  grid-template: 3fr 1fr / repeat(4, 1fr);
  grid-template-areas:
    "hero-img hero-img hero-info hero-info"
    "hero-img hero-img hero-social hero-social";
  max-height: 50vh;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.hero-img-container {
  grid-area: hero-img;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 50rem;
}

.hero-img-container img {
  max-height: 30rem;
  border-radius: 50%;
  animation: 10s infinite move linear;
  box-shadow: 0 10px 50px -20px var(--text-color);
}

@keyframes move {
  0%,
  50%,
  100% {
    transform: translate(0, 0);
    box-shadow: 0 10px 50px -20px var(--text-color);
  }
  25%,
  75% {
    transform: translate(0, 1.5rem);
    box-shadow: 0 10px 55px -20px var(--text-color);
  }
}

.hero-info {
  grid-area: hero-info;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 1rem;
  width: 80%;
}

.hero-info h2 {
  font-size: 4rem;
  font-weight: 700;
}

.hero-info h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
}

.hero-info p {
  font-size: 1.6rem;
  font-weight: 400;
  width: 50%;
  margin-bottom: 1rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-buttons a:link,
.hero-buttons a:visited {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.hero-buttons a:hover,
.hero-buttons a:active {
  padding: 1rem 4rem;
  color: var(--text-color);
  background-color: #00000000;
  border: 2px solid var(--text-color);
}

.hero-social {
  grid-area: hero-social;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.hero-social a:link,
.hero-social a:visited {
  font-size: 4rem;
  text-decoration: none;
  padding: 1rem;
  color: var(--text-color-light);
  transition: all 0.2s ease;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-social a:hover,
.hero-social a:active {
  color: var(--text-color);
  box-shadow: 0 0 30px 1px var(--text-color);
}

/* -------------------- SKILLS SECTION -------------------- */
.skills-container {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 5rem;
}

section#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin: 0 auto;
}

section#skills h2 {
  text-transform: uppercase;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skill i {
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  font-size: 6rem;
}

.skill:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  color: var(--text-color);
}

.skill i::after {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.4rem;
  position: absolute;
  font-style: italic;
  top: -20px;
  left: 15px;
}

#html:hover {
  color: #f06529;
}
#html:hover::after {
  content: "8/10";
}
#css:hover {
  color: #2965f1;
}
#css:hover::after {
  content: "8/10";
}
#js:hover {
  color: #f0db4f;
}
#js:hover::after {
  content: "8/10";
}
#react:hover {
  color: #61dbfb;
}
#react:hover::after {
  content: "8/10";
}
#tailwind:hover {
  color: #6d28d9;
}
#tailwind:hover::after {
  content: "8/10";
}
#github:hover {
  color: #fafbfc;
}
#github:hover::after {
  content: "8/10";
}
#java:hover {
  color: #f89820;
}
#java:hover::after {
  content: "8/10";
}

section#skills p {
  text-align: center;
}

/* -------------------- PROJECTS SECTION -------------------- */
.projects-container {
  padding-bottom: 5rem;
  background-image: url("../images/projects-bg.gif");
  position: relative;
}

.projects-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b04313a;
  backdrop-filter: blur(3px);
  z-index: 1;
}

section#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin: 0 auto;
}

section#projects h2 {
  text-transform: uppercase;
  z-index: 2;
}

.projects {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  flex: 1;
}

.project {
  display: grid;
  grid-template: auto-fit 5fr 1fr 1fr 1fr / repeat(2, minmax(1fr));
  grid-template-areas:
    "project-img project-img"
    "project-title project-title"
    "project-desc project-desc"
    "project-btn1 project-btn2";
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  min-width: 50%;
  background-color: var(--bg-color);
  border-radius: 15px;
  column-gap: 2px;
  box-shadow: -5px 5px 0 0 var(--text-color-transparent);
  border: 1px solid var(--bg-color);
}

.project .project-img {
  grid-area: project-img;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

.project .project-img:hover {
  transform: scale(1.1);
}

.project h3 {
  grid-area: project-title;
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: var(--bg-color);
  z-index: 2;
}

.project p {
  grid-area: project-desc;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}

.project a:link,
.project a:visited {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  margin-bottom: 2rem;
}

.project a:hover,
.project a:active {
  padding: 1rem 4rem;
  color: var(--text-color);
  background-color: #00000000;
  border: 2px solid var(--text-color);
}

.project a:first-of-type {
  grid-area: project-btn1;
}

.project a:last-of-type {
  grid-area: project-btn2;
}

/* -------------------- MEDIA QUERIES -------------------- */

/* Mobile and Smaller Screens */
@media screen and (max-width: 56.25em) {
  /* HERO SECTION */
  .hero-info h2 {
    font-size: 3rem;
  }

  .hero-info h3 {
    font-size: 1.5rem;
  }

  .hero-info p {
    font-size: 1.2rem;
  }

  .hero-buttons a:link,
  .hero-buttons a:visited {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }

  .hero-social {
    justify-content: start;
    gap: 1rem;
  }

  .hero-social a:link,
  .hero-social a:visited {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .hero-social {
    margin-top: 0;
    margin-left: 0;
  }

  section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-height: 80vh;
    margin: 0 2rem;
  }

  .hero-img-container {
    max-height: 20rem;
    display: flex;
    justify-content: center;
  }

  .hero-img-container img {
    max-height: 20rem;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  /* SKILLS SECTION */
  section#skills {
    width: 90%;
  }

  section#skills h2 {
    font-size: 1.5rem;
  }

  .skills {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skill i {
    font-size: 3rem;
  }

  /* PROJECTS SECTION */
  section#projects {
    width: 90%;
  }

  section#projects h2 {
    font-size: 1.5rem;
  }

  .projects {
    flex-direction: column;
    gap: 2rem;
  }

  .project {
    grid-template-areas:
      "project-img"
      "project-title"
      "project-desc"
      "project-btn1"
      "project-btn2";
    max-width: 100%;
  }
}

/* Tablets and Medium Screens */
@media screen and (min-width: 56.25em) and (max-width: 90em) {
  /* HERO SECTION */

  .hero-info h2 {
    font-size: 3.5rem;
  }

  .hero-info h3 {
    font-size: 1.75rem;
  }

  .hero-info p {
    font-size: 1.4rem;
    max-width: 50%;
  }

  .hero-buttons a:link,
  .hero-buttons a:visited {
    padding: 0.75rem 1.5rem;
    font-size: 1.3rem;
  }

  .hero-social {
    justify-content: start;
    gap: 3rem;
  }

  .hero-social a:link,
  .hero-social a:visited {
    font-size: 3rem;
    padding: 0.75rem;
  }

  .hero-social {
    margin-top: 1rem;
    margin-right: 2rem;
  }

  section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-height: 70vh;
    margin: 0 3rem;
  }

  .hero-img-container {
    max-height: 25rem;
    display: flex;
    justify-content: center;
  }

  .hero-img-container img {
    max-height: 25rem;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  /* SKILLS SECTION */
  section#skills {
    width: 80%;
  }

  section#skills h2 {
    font-size: 1.75rem;
  }

  .skills {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .skill i {
    font-size: 4rem;
  }

  /* PROJECTS SECTION */
  section#projects {
    width: 80%;
  }

  section#projects h2 {
    font-size: 1.75rem;
  }

  .projects {
    flex-direction: column;
    gap: 3rem;
  }

  .project {
    grid-template-areas:
      "project-img"
      "project-title"
      "project-desc"
      "project-btn1"
      "project-btn2";
    max-width: 100%;
  }
}
