/* -------------------- HERO SECTION -------------------- */
.hero-container {
  background-image: url("../images/hero-bg.gif");
  background-size: cover;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--text-color);
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b04313a;
  backdrop-filter: blur(3px);
}

/* Hero section using grid */
section#hero {
  display: grid;
  grid-template: 3fr 1fr / repeat(4, 1fr);
  grid-template-areas:
    "hero-img hero-img hero-info hero-info"
    "hero-img hero-img hero-social hero-social";
  max-height: 50vh;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

/* Hero image container */
section#hero .hero-img-container {
  grid-area: hero-img;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 50rem;
}

section#hero .hero-img-container img {
  max-height: 30rem;
  border-radius: 50%;
  animation: 10s infinite move linear;
  box-shadow: 0 10px 50px -20px var(--text-color);
}

/* Slow animation to make avatar feel more alive */

@keyframes move {
  0% {
    transform: translate(0, 0);
    box-shadow: 0 10px 50px -20px var(--text-color);
  }
  25% {
    transform: translate(0, 1.5rem);
    box-shadow: 0 10px 55px -20px var(--text-color);
  }
  50% {
    transform: translate(0, 0);
    box-shadow: 0 10px 60px -20px var(--text-color);
  }
  75% {
    transform: translate(0, 1.5rem);
    box-shadow: 0 10px 55px -20px var(--text-color);
  }
  100% {
    transform: translate(0, 0);
    box-shadow: 0 10px 50px -20px var(--text-color);
  }
}

/* Hero info section using flexbox in column */
section#hero .hero-info {
  grid-area: hero-info;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 1rem;
  width: 80%;
}

section#hero .hero-info h2 {
  font-size: 4rem;
  font-weight: 700;
}

section#hero .hero-info h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

section#hero .hero-info p {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

/* Hero buttons */
section#hero .hero-buttons {
  display: flex;
  gap: 1rem;
}

section#hero .hero-buttons a:link,
section#hero .hero-buttons a:visited {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  margin-bottom: 2rem;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

section#hero .hero-buttons a:hover,
section#hero .hero-buttons a:active {
  padding: 1rem 4rem;
  color: var(--text-color);
  background-color: #00000000;
  border: 2px solid var(--text-color);
}

section#hero .hero-social {
  grid-area: hero-social;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

/* Social links */
section#hero .hero-social a:link,
section#hero .hero-social a:visited {
  font-size: 4rem;
  text-decoration: none;
  padding: 1rem;
  color: var(--text-color-light);
  transition: all 0.2s ease;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#hero .hero-social a:hover,
section#hero .hero-social a:active {
  color: var(--text-color);
  box-shadow: 0 0 30px 1px var(--text-color);
}

/* -------------------- SKILLS SECTION -------------------- */
.skills-container {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 5rem;
}

section#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin: 0 auto;
}

section#skills h2 {
  text-transform: uppercase;
}

section#skills .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section#skills .skills .skill i {
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  font-size: 6rem;
}

section#skills .skills .skill:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  color: var(--text-color);
}

section#skills .skills .skill i::after {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.4rem;
  position: absolute;
  font-style: italic;
  top: -20px;
  left: 15px;
}

/* HTML */
section#skills .skills #html:hover {
  color: #f06529;
}
section#skills .skills #html:hover::after {
  content: "8/10";
}
/* CSS */
section#skills .skills #css:hover {
  color: #2965f1;
}
section#skills .skills #css:hover::after {
  content: "8/10";
}
/* JavaScript */
section#skills .skills #js:hover {
  color: #f0db4f;
}
section#skills .skills #js:hover::after {
  content: "8/10";
}
/* React */
section#skills .skills #react:hover {
  color: #61dbfb;
}
section#skills .skills #react:hover::after {
  content: "8/10";
}
/* Tailwind */
section#skills .skills #tailwind:hover {
  color: #6d28d9;
}
section#skills .skills #tailwind:hover::after {
  content: "8/10";
}
/* GitHub */
section#skills .skills #github:hover {
  color: #fafbfc;
}
section#skills .skills #github:hover::after {
  content: "8/10";
}
/* Java */
section#skills .skills #java:hover {
  color: #f89820;
}
section#skills .skills #java:hover::after {
  content: "8/10";
}

section#skills p {
  text-align: center;
}

/* -------------------- PROJECTS SECTION -------------------- */

.projects-container {
  padding-bottom: 5rem;
  background-image: url("../images/projects-bg.gif");
  position: relative;
}

.projects-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b04313a;
  backdrop-filter: blur(3px);
  z-index: 1;
}

section#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin: 0 auto;
}

section#projects h2 {
  text-transform: uppercase;
  z-index: 2;
}

section#projects .projects {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  flex: 1;
}

section#projects .projects .project {
  display: grid;
  grid-template: auto-fit 5fr 1fr 1fr 1fr / repeat(2, minmax(1fr));
  grid-template-areas:
    "project-img project-img"
    "project-title project-title"
    "project-desc project-desc"
    "project-btn1 project-btn2";
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  min-width: 50%;
  background-color: var(--bg-color);
  border-radius: 15px;
  column-gap: 2px;
  box-shadow: -5px 5px 0 0 var(--text-color-transparent);
  border: 1px solid var(--bg-color);
}

section#projects .projects .project .project-img {
  grid-area: project-img;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

section#projects .projects .project .project-img:hover {
  transform: scale(1.1);
}

section#projects .projects .project h3 {
  grid-area: project-title;
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: var(--bg-color);
  z-index: 2;
}

section#projects .projects .project p {
  grid-area: project-desc;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}

section#projects .projects .project a:link,
section#projects .projects .project a:visited {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

section#projects .projects .project a:hover,
section#projects .projects .project a:active {
  padding: 1rem 3rem;
  color: var(--text-color);
  background-color: #00000000;
  border: 2px solid var(--text-color);
}

section#projects .projects .project .preview {
  grid-area: project-btn1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 15px;
}

section#projects .projects .project .on-github {
  grid-area: project-btn2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15px 0;
}

section#projects .view-more:link,
section#projects .view-more:visited {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  z-index: 2;
}

section#projects .view-more:hover,
section#projects .view-more:active {
  padding: 1rem 3rem;
  color: var(--text-color);
  background-color: #00000000;
  border: 2px solid var(--text-color);
}

/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (max-width: 1700px) {
  section#projects {
    width: 20%;
  }
}

@media only screen and (max-width: 1400px) {
  section#hero .hero-img-container img {
    max-height: 30rem;
  }

  section#skills {
    width: 60%;
  }

  section#projects {
    width: 40%;
  }
  section#projects .projects {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .hero-container {
    padding-top: 10rem;
    height: 100svh;
  }

  section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  section#hero .hero-img-container {
    margin-bottom: 5rem;
    width: 30%;
    justify-content: center;
  }

  section#hero .hero-img-container img {
    max-height: 15rem;
  }

  section#hero .hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section#hero .hero-info h2 {
    font-size: 3rem;
  }
  section#hero .hero-info p {
    text-align: center;
    font-size: 1.4rem;
  }

  section#hero .hero-social {
    margin-left: 0;
  }

  section#skills {
    width: 80%;
  }

  section#projects {
    width: 50%;
  }

  section#hero .hero-buttons a:link,
  section#hero .hero-buttons a:visited {
    margin-bottom: 0;
  }

  section#hero .hero-social a:link,
  section#hero .hero-social a:visited {
    display: none;
  }
}

@media only screen and (max-width: 870px) {
  section#skills {
    width: 90%;
  }

  section#skills .skills {
    flex-wrap: wrap;
  }

  section#projects {
    width: 70%;
  }

  section#projects .projects .project a:link,
  section#projects .projects .project a:visited {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  section#projects {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  section#hero .hero-info h2 {
    font-size: 3rem;
  }
  section#projects .projects .project a:link,
  section#projects .projects .project a:visited {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 403px) {
  section#hero .hero-info h2 {
    font-size: 2rem;
  }

  section#hero .hero-info h3 {
    font-size: 1.5rem;
  }

  section#hero .hero-info p {
    font-size: 1.3rem;
  }

  section#skills .skills .skill i {
    font-size: 3rem;
  }

  section#skills p {
    font-size: 1rem;
  }

  section#projects .projects .project h3 {
    font-size: 1.5rem;
  }

  section#projects .projects .project p {
    font-size: 1rem;
  }

  section#projects {
    width: 100%;
  }

  section#projects .projects .project a:link,
  section#projects .projects .project a:visited {
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 375px) {
  section#hero .hero-buttons a:link,
  section#hero .hero-buttons a:visited {
    font-size: 1.3rem;
    width: 10rem;
  }
  section#hero .hero-buttons a:hover,
  section#hero .hero-buttons a:active {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 1080px) and (max-height: 800px) and (orientation: landscape) {
  h2 {
    font-size: 2rem;
  }

  section#hero {
    margin-top: 15rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  section#hero .hero-img-container img {
    max-height: 15%;
  }

  section#hero .hero-info h2 {
    font-size: 1.5rem;
  }
  section#hero .hero-info h3 {
    font-size: 1.3rem;
  }
  section#hero .hero-info p {
    font-size: 1rem;
    width: 80%;
  }
  section#hero .hero-buttons a:link,
  section#hero .hero-buttons a:visited {
    font-size: 1rem;
    margin-bottom: 0;
  }

  section#hero .hero-social {
    display: none;
  }

  section#skills .skills .skill i {
    font-size: 3rem;
  }

  section#skills p {
    font-size: 1rem;
  }

  section#projects .projects .project h3 {
    font-size: 1.5rem;
  }

  section#projects .projects .project p {
    font-size: 1rem;
  }

  section#projects {
    width: 50%;
  }

  header .menu-overlay ul.mobile-navlist {
    gap: 2rem;
    margin-bottom: 5rem;
    flex-direction: row;
  }

  header .menu-overlay ul.mobile-navlist li a:link,
  header .menu-overlay ul.mobile-navlist li a:visited {
    font-size: 2.5rem;
  }
}
